.temp-value {
	color: red;
	font-weight: bold;
}

html {
	font-size: 25px;
}

body { 
	padding-top: 70px; 
	font-family: "Trebuchet MS";
	background-image: url('/static/img/background.png');
	margin-bottom: 200px;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.cssSlideUp {
    opacity: 1;
}

.cssSlideUp.ng-hide {
    opacity: 0;
}

.cssSlideUp.ng-hide-add,
.cssSlideUp.ng-hide-remove {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.input-group {
	float:left !important;
}

.submit-btns {
	transform: translateY(17%);
}

.jumbotron p {
	font-size: 17px;
}

.jumbotron {
	border-radius: 60px !important;
}

.short-btn {
	width: 200px !important;
}

#venmo-icon {
	height: 17px;
}